<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Meerkat</title>
</head>
<body>
    <form method="GET" action="/similars">
        <input type="text" name="artist" />
        <input type="submit" value="Find similar!" />
    </form>
</body>
</html>
