<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Meerkat</title>
</head>
<body>
    <h1>No similar artists found</h1>
    <span>The artist <%= name %> does not have any similar artist</span>
</body>
</html>
